<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
   <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
   <link rel="stylesheet" href="../estilos/estilosvitroceramicas.css">
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
   <script src="../js/jsvitroceramicas.js"></script>
   <title>The Kitchen's House</title>
</head>

<body>
   <!-- BARRA NAVEGACIÓN -->
   <div class="main-container">
      <nav class="navbar">
         <div class="container">
            <div class="logo">
               <a href="../index.html"><img src="../assets/images/logoblanco.png" alt="Logo"></a>
            </div>
            <div class="menu-btn" id="menu-btn">
               <div class="bar"></div>
               <div class="bar"></div>
               <div class="bar"></div>
            </div>
            <ul class="navbar-items" id="navbar-items">
               <li><a href="../index.html">Inicio</a></li>
               <li><a href="../views/galeria.html">Galería</a></li>
               <li><a href="../views/presupuesto.html">Presupuesto</a></li>
               <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
         </div>
      </nav>
   </div>
   <!-- CONTENIDO PÁGINA -->
   <!-- FOTO PRINCIPAL DEL CONTENIDO DE LA PÁGINA -->
   <div class="imagen-principal-vitroceramicas-parallax">
      <div class="parallax"><img src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-landing.jpg"
            alt="vitroceramicas"></div>
      <div class="vitroceramicas-png">
         <img src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-y-encimeras.png" alt="vitroceramicas">
      </div>
   </div>
   <div class="linea-principal"></div>
   <!--PRIMERA SECCIÓN NUESTRA ILUMINACIÓN-->
   <section>
      <h1>Potencia y estilo en tu cocina:</h1>
      <h2>elige la vitrocerámica y encimera perfectas.</h2>
      <div class="linea-vitroceramicas"></div>
      <p class="texto">Conoce la variedad de opciones disponibles y cómo cada tipo puede influir en la funcionalidad y
         estética de tu cocina. Desde vitrocerámicas eficientes hasta encimeras de alta gama, estamos aquí para ayudarte
         a tomar la decisión correcta.</p>
   </section>
   <!--SEGUNDA SECCIÓN VITROCERAMICAS STANDARD CON H1 Y CARRUSEL -->
   <section>
      <h1>Vitrocerámicas y Encimeras Standard</h1>
      <div class="linea-vitroceramicas-standard"></div>
      <p class="texto">Descubre la eficiencia y simplicidad de nuestras vitrocerámicas y encimeras estándar. Diseñadas
         para satisfacer tus necesidades culinarias diarias, estas opciones ofrecen un rendimiento fiable sin sacrificar
         el estilo.</p>
      <!-- Carrusel número 1 vitroceramicas standard -->
      <div class="slider-vitroceramicas-standard owl-carousel">
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/viitroceramicas-standard1.jpg"
               alt="vitroceramicas standard">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard2.jpg"
               alt="vitroceramicas standard">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard3.jpg"
               alt="vitroceramicas standard">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard4.jpg"
               alt="vitroceramicas standard">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard5.jpg"
               alt="vitroceramicas standard">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard6.jpg"
               alt="vitroceramicas standard">
         </div>
      </div>
      <!-- Creación de clase solo movil, ocultada en escritorio ya que como el carrusel proviene de un plugín, la forma más sencilla era crear una nueva clase con las imágenes-->
      <div class="solo-movil">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/viitroceramicas-standard1.jpg"
            alt="vitroceramicas standard">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard2.jpg"
            alt="vitroceramicas standard">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard3.jpg"
            alt="vitroceramicas standard">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard4.jpg"
            alt="vitroceramicas standard">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard5.jpg"
            alt="vitroceramicas standard">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-standard6.jpg"
            alt="vitroceramicas standard">
      </div>
   </section>
   <!-- TERCERA SECCIÓN VITROCERAMICAS PREMIUM CON H1 Y CARRUSEL -->
   <section>
      <h1>Vitrocerámicas y Encimeras Premium</h1>
      <div class="linea-vitroceramicas-premium"></div>
      <p class="texto">Experimenta el lujo en cada comida con nuestras vitrocerámicas y encimeras premium.
         Características avanzadas y diseño elegante se unen para ofrecerte una experiencia culinaria excepcional.
         Descubre cómo la innovación puede elevar tu cocina a nuevos niveles.</p>
      <!-- Carrusel n2-->
      <div class="slider-vitroceramicas-premium owl-carousel">
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium1.jpg"
               alt="vitroceramicas premium">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium2.jpg"
               alt="vitroceramicas premium">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium3.jpg"
               alt="vitroceramicas premium">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium4.jpg"
               alt="vitroceramicas premium">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium5.jpg"
               alt="vitroceramicas premium">
         </div>
         <div class="item">
            <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium6.jpg"
               alt="vitroceramicas premium">
         </div>
      </div>
      <!-- Creación de clase solo movil, ocultada en escritorio ya que como el carrusel proviene de un plugín, la forma más sencilla era crear una nueva clase con las imágenes-->
      <div class="solo-movil">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium1.jpg"
            alt="vitroceramicas premium">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium2.jpg"
            alt="vitroceramicas premium">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium3.jpg"
            alt="vitroceramicas premium">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium4.jpg"
            alt="vitroceramicas premium">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium5.jpg"
            alt="vitroceramicas premium">
         <img class="carrusel" src="../assets/images/vitroceramicas-y-encimeras/vitroceramicas-premium6.jpg"
            alt="vitroceramicas premium">
         <div class="espacio"></div>
      </div>
   </section>
   <!-- FOOTER -->
   <footer>
      <div class="footer-section">
         <h3>Ubicación</h3>
         <p>Arturo Soria 58 </p>
         <p>28043</p>
         <p>Madrid, España</p>
      </div>
      <div class="footer-section">
         <h3>Enlaces</h3>
         <ul class="footer-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/galeria.html">Galería</a></li>
            <li><a href="../views/presupuesto.html">Presupuesto</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li><a href="../views/vitroceramicas-y-encimeras.html">Vitrocerámicas y encimeras</a></li>
            <li><a href="../views/iluminacion.html">Iluminación</a></li>
            <li><a href="../views/suelos.html">Suelos</a></li>
            <li><a href="../views/accesorios-funcionales.html">Accesorios Funcionales</a></li>
         </ul>
      </div>
      <div class="footer-section">
         <h3>Síguenos</h3>
         <div class="social-icons">
            <a href="#"><img src="../assets/images/icons/facebook-app-symbol.png" alt="Facebook"></a>
            <a href="#"><img src="../assets/images/icons/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../assets/images/icons/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="../assets/images/icons/tik-tok.png" alt="TikTok"></a>
         </div>
      </div>
   </footer>
</body>

</html>